* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {

    --main_text_color: #2F281E;
    --button_color: #BCD0E5;
    --h1_color: #2F281E;
    --p_hero: #544837;
    --second_text: #FF9900;
    --button_header_text_color: #173A56;

}

html,
body {
    height: 100%;
    width: 100%;

    color: var(--main_text_color);

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.img {
    width: 100%;
    display: block;

}

.logo {
    width: 200px;
}

.main_nav_list li {
    display: inline-block;

}

.main_nav_list li a {
    text-decoration: none;
    color: inherit;

}

.main_nav a {
    margin-right: 20px;

}

.bt_b {
    border: 1px solid var(--button_color);
}

.button_header {
    text-transform: capitalize;
    color: var(--button_header_text_color);
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 600;
    padding: 13px 26px;
    font-family: "Poppins", sans-serif;
    margin-right: 14px;
}

.button_header.accent {
    background: #FF9900;
    border-color: #FF9900;
    color: #fff;
}

.buttons a {
    text-decoration: none;
}

.hero {
    
    /* best way ???? */
    margin-bottom: 110px;
}

.hero_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.p_hero_text_color {
    color:var(--p_hero);
}

.button_hero {
    text-transform: capitalize;
    border-radius: 4px;
    font-weight: 600;
    padding: 14px 41px;
    font-family: "Poppins", sans-serif;
    margin-right: 14px;
    margin-bottom: 90px;
}

.button_hero.accent {
    background: #FF9900;
    border-color: #FF9900;
    color: #fff;
}

.text-col {
    width: 100%;
    max-width: 500px;
}

.site_title {
    color: var(--h1_color);
    font-weight: bold;
    font-size: 44px;
    font-family: "Poppins", sans-serif;
    line-height: 54px;
    margin-bottom: 30px;
}

.site_description {
    color: var(--p_hero);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 45px; /* doesnt work  */
}

.img-col {
    width: 100%;
    max-width: 644px;
}

.underline {
    text-decoration: underline !important;
}

.link_video {
    color: var(--second_text);
    margin-left: 30px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.link_video::before {
    content: '';
    margin-right: 8.5px;
    display: inline-block;
    margin-bottom: -3px;
    background-image: url(./assets/images/Triangle\ Copy\ 6.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    background-size: 100% 100%;
}

.feature_header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 54px;
    text-align: center;
    padding: 0 200px;
}

.feature_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.button_feature {
    text-transform: capitalize;
    border-radius: 4px;
    font-weight: bold;
    padding: 14px 34px;
    font-family: "Poppins", sans-serif;
    
}

.button_feature.accent {
    background: #FF9900;
    border-color: #FF9900;
    color: #fff;
}

.content_block {
    margin-bottom: 34px;
    width: 25%;
    min-width: 150px;
}

.feature {
    margin-bottom: 120px;
}

.uppercase {
    text-transform: uppercase;
}

.central {
    justify-content: center;
    display: flex;
}

.ft-p {
    font-family: "Poppins", sans-serif;
}

.fw-medium {
    font-weight: 500;
}

.fw-regular {
    font-weight: 400;
}

.fw-semibold {
    font-weight: 600;
}

.fw-bold {
    font-weight: bold;
}

.fs-22 {
    font-size: 22px;
}

.fs-16 {
    font-size: 16px;
}

.fs-36 {
    font-size: 36px;
}

.mb-13 {
    margin-bottom: 13px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-22 {
    margin-bottom: 22px;
}

.lh-26 {
    line-height: 26px;
}

.lh-28 {
    line-height: 28px;
}

.main-text-color {
    color: var(--main_text_color);
}


.effortless_validation_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.effortless_validation {
    margin-bottom: 101px;
}

.text-col-ev {
    width: 100%;
    max-width: 486px;
}

.img-col-ev {
    width: 100%;
    max-width: 520px;
}

.product_managers {
    margin-bottom: 104px;
}

.product_managers_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-col-pm {
    width: 100%;
    max-width: 532.61px;
}

.text-col-pm {
    width: 100%;
    max-width: 486px;
}


.list {
    list-style: none;
}

.list li::before {
    content: '';
    display: inline-block;
    margin-bottom: -10px;
    margin-right: 30px;
    background-image: url(./assets/images/Group\ 13.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
}

.img-col-ma {
    width: 100%;
    max-width: 542px;
}

.text-col-ma {
    width: 100%;
    max-width: 486px;
}

.marketers_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}